.project-section
    text-align: center

.empty-div
    height: 100vh

main
    z-index: 0

.project-title
    font-family: "Bebas Neue"
    font-size: 55px
    letter-spacing: 2px
    margin-top: 40px
    
.lead
    font-family: "Josefin Sans"
    font-size: 25px
    margin: 0px
    text-transform: none