<div  #scrollMe style="overflow: scroll; height: 100vh;" appAppHorizontalScroll (wheelScroll) = "userScroll()">
    <div class="container empty-div">

    </div>
    <div class="container">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <main class="px-3 project-section" *ngFor="let credit of credits">
                <h1 class="project-title">{{credit.Project}}</h1>
                <!-- <p class="lead" >{{credit.Employees.join(", ")}}</p>            -->
                <p class="lead" *ngFor="let employee of credit.Employees" >{{employee}}</p>     
            </main>
            <h1 class="thanks-message" *ngIf="showThanks">Thank you, Everyone!!!</h1>
        </div>
    </div>
</div>

