.nav-link
    font-family: 'Roboto', sans-serif
    font-size: 14px
    color: #575756
    letter-spacing: 0
    text-transform: uppercase
    font-weight: 600

.navbar-brand
    font-family: "MuseoModerno"