.lead
    font-family: "Comforter"
    font-size: 4rem

.message-heading
    font-family: "Comforter"
    font-size: 4rem
    font-weight: bold
    text-decoration: underline

.message-container
    margin-top: 50px