<div class="container">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3 message-container">
            <h1 class="message-heading">Thanks All!</h1>
            <p class="lead"> It is with a grateful heart that I thank you for all that you’ve done for me. You are a fantastic group of colleagues. I count it a privilege and an honor to have worked with each one of you. May all your futures be full of outstanding achievements.</p>           
        </main>
    </div>
</div>