.lead
    font-family: "Comforter"
    font-size: 4rem

.message-heading
    font-family: "Comforter"
    font-size: 4rem
    font-weight: bold
    text-decoration: underline

.message-container
    margin-top: 60px
    z-index: 0

.btn
    z-index: 0
    font-size: 2rem