<div class="container">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3 message-container">
            <h1 class="message-heading">Thanks All!</h1>
            <p class="lead"> The day has arrived for me to say farewell to a truly amazing set of coworkers. I am honored to have worked among you and thank you for the chance to be a part of this team. I wish you all good luck and hope that we keep in touch throughout the years ahead.</p>           
        </main>
        <button class="btn btn-dark" routerLink="credits" [routerLinkActive]="['active']">Credits | <i class="fa fa-arrow-right"></i></button>
    </div>
</div>